<div id="<%= dom_id student_guardian %>">
  <p>
    <strong>Relationship:</strong>
    <%= student_guardian.relationship %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= student_guardian.student.name %>
  </p>

  <p>
    <strong>Guardian:</strong>
    <%= student_guardian.guardian.name %>
  </p>

</div>
