<% content_for :title, "Editing subject" %>

<div class="d-flex align-items-center mb-3 gap-2">
  <h2 class="fw-bold m-0 d-flex align-items-center gap-2" style="font-size: 1.6rem;">
    <i class="bi bi-pencil-square"></i>
    Edit Subject
  </h2>
</div>

<%= render "form", subject: @subject %>

<br>

<div>
</div>
